@model AlbumEditViewModel
@{
    ViewData["Title"] = "Create Album";
}

<div class="container p-3">
    <div class="row m-5 justify-content-center">
        <div class="col-sm-7 bg-white p-4" style="border-radius:10px">
            <form asp-controller="Album" asp-action="Edit" enctype="multipart/form-data" method="post" class="form-horizontal">
                <h1>Edit <a asp-action="Album" asp-controller="Profile" asp-route-id="@Model.Id">@Model.Title</a> album</h1>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label form-label"></label>
                    <input asp-for="Title" class="form-control form-input form-input-center" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group hover10">
                    <figure>
                        <img id="albumPic" class="img-fluid hoverCoverPic" style="border-radius:10px" src="@Model.PictureUri" />
                        <input type="hidden" asp-for="@Model.PictureUri" />
                    </figure>
                    <input name="Picture" id='uploadAlbumPic' type='file' style="display:none">
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="control-label form-label"></label>
                    <input asp-for="Description" class="form-control form-input form-input-center" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default btn-brand btn-brand-big">&nbsp;Save Changes&nbsp;</button>

                </div>
            </form>
        </div>

    </div>
</div>

@section Scripts{
    <script>


        $('#albumPic').click(function () {
            $('#uploadAlbumPic').click();
        });
        function readAlbumPic() {

            if (this.files && this.files[0]) {

                var FR = new FileReader();

                FR.addEventListener("load", function (e) {
                    document.getElementById("albumPic").src = e.target.result;
                });

                FR.readAsDataURL(this.files[0]);
            }

        }
        document.getElementById("uploadAlbumPic").addEventListener("change", readAlbumPic);
    </script>
}