@model ProfileViewModel

    <<div class="container" style="padding-right:135px">
        <div class="fb-profile hover10">
            <figure>
                <img align="left" id="coverPic" class="fb-image-lg hoverCoverPic" style="width:960px;height:450px" src="@Model.CoverPictureUri" alt="To be set" />
            </figure>
            <div class="container">
                <figure>
                    <img align="left" id="profilePic" style="width:186px;height:186px" class="fb-image-profile  hoverProfilePic " src="@Model.ProfilePictureUri" alt="To be set" />
                </figure>
            </div>
            <div class="fb-profile-text">
                <h1>@Model.Name</h1>
            </div>
        </div>
        <form method="post" enctype="multipart/form-data" asp-controller="Profile" asp-action="Edit">
            <div>
                <nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-radius: 10px;">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse p-0" id="navbarToggler">
                        <ul class="navbar-nav  mt-2 mt-lg-0">
                            <li class="nav-item active">
                                <a class="btn btn-light border-dark mx-2" asp-controller="Album" asp-action="Create">Create Album</a>
                            </li>
                            <li class="nav-item active">
                                <a class="btn btn-light border-dark mx-2" asp-controller="Tattoo" asp-action="Create">Upload Tattoo </a>
                            </li>
                            <li class="nav-item active">

                                <input name="ProfilePictureFile" id='uploadProfileImg' type='file' style="display:none">
                                <input name="CoverPictureFile" id='uploadCoverImg' type='file' style="display:none">
                                <div>
                                    <input class="btn btn-success" type="submit" value="Save Changes" />
                                </div>

                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="form-group mx-5 px-4">
                    <label class="control-label form-label"><h4>Profile Description</h4> </label>
                    <textarea asp-for="Description" rows="4" class="form-control form-input form-input-center"> </textarea>
                </div>
            </div>
        </form>
    </div>



    @section Scripts{
        <script>
            $('.fb-image-lg').click(function () {
                $('#uploadCoverImg').click();
            });

            $('.fb-image-profile').click(function () {
                $('#uploadProfileImg').click();
            });

            function readProfilePic() {

                if (this.files && this.files[0]) {

                    var FR = new FileReader();

                    FR.addEventListener("load", function (e) {
                        document.getElementById("profilePic").src = e.target.result;
                    });

                    FR.readAsDataURL(this.files[0]);
                }

            }
            function readCoverPic() {

                if (this.files && this.files[0]) {

                    var FR = new FileReader();

                    FR.addEventListener("load", function (e) {
                        document.getElementById("coverPic").src = e.target.result;
                    });

                    FR.readAsDataURL(this.files[0]);
                }

            }

            document.getElementById("uploadProfileImg").addEventListener("change", readProfilePic);
            document.getElementById("uploadCoverImg").addEventListener("change", readCoverPic);
        </script>
    }