@model ProfileTattoosViewModel

<div class="container" style="padding-right:135px">
    <partial name="_ProfilePartial" model="Model.Profile" />
    <div class="container" style="margin-top:30px; padding:0">
        <div class="col-md-12 bg-white" style="border-radius: 40px;">
            <div class="row  py-3">
                @if (Model.Tattoos.Count == 0)
                {
                    if (Model.Profile.IsOwner)
                    {
                        <h1 class="px-4"> Upload new tattoo <a href="/Profile/Edit/"><b><u>picture!</u></b></a> </h1>

                    }
                    else
                    {
                        <h1 class="px-4"> The user has no Tattoos.</h1>
                    }
                }
                else
                {
                    <partial name="_ListedTattoosContainer" model="Model.Tattoos" />
                }

            </div>
        </div>
    </div>
</div>
@section ProfileScripts{
    <script src="~/js/FollowButton.js" asp-append-version="true"></script>
}