@inject INotificationService notificationService;
@{
    int profileId = int.Parse(User.Claims.First(c => c.Type == "ProfileId").Value);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inkett</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
          crossorigin="anonymous"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>


</head>
<body>
    <div id="wrapper">
        <partial name="_SideBar" />
        <div id="content">
            <nav class="navbar fixed-top navbar-dark bg-dark">
                <div class="container">
                    <a class="btn btn-secondary" id="sidebarCollapse"><span class="navbar-toggler-icon"></span></a>
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index"><b>Inkett</b></a>
                    <div class="d-flex justify-content-around">
                        <a asp-action="Index" asp-controller="Notification" class="btn btn-secondary mr-4">
                            <img src="~/bell-2x.webp">
                            @if (await notificationService.GetNotificationStatus(profileId))
                            {
                                <span class="badge badge-light"> ! </span>
                            }
                        </a>
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>
            <div class="container">
                <partial name="_CookieConsentPartial" />
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
        <div class="overlay"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
   
    @RenderSection("Scripts", required: false)
    @RenderSection("ProfileScripts", required: false)

</body>
</html>
