@model List<TattooListedViewModel>
@{
    int skipIndex = 0;
    int takeIndex = Model.Count / 3;

}
<div>
    @for (int i = 0; i < Model.Count / 3; i++)
    {
        <div class="d-flex flex-row  " style="margin-bottom:10px">
            @foreach (var item in Model.Skip(skipIndex).Take(3))
            {
                <div class="p-md-2" style="width:45%">
                    <a href="/Tattoo/Index/@item.Id">
                        <img class="border border-3 img-fluid" src="@item.PictureUri">
                    </a>
                </div>
            }
        </div>
        skipIndex += 3;
    }
    @if (Model.Count - skipIndex < 3)
    {
        <div class="d-flex flex-row justify-content-start " style="margin-bottom:10px">
            @foreach (var item in Model.Skip(skipIndex))
            {
                <div class="p-md-2" style="width:45%">
                    <a href="/Tattoo/Index/@item.Id">
                        <img class="border border-3 img-fluid" src="@item.PictureUri">
                    </a>
                </div>
            }
        </div>
    }

</div>
