<nav id="sidebar">
    <ul class="list-unstyled components mr-3">
        <li>
            <a href="/Profile">Profile</a>
        </li>
        <li>
            <a asp-controller="Profile" asp-action="Edit">Edit Profile</a>
        </li>
        <li>
            <a asp-controller="Profile" asp-action="LikedTattoos">Liked Tattoos</a>
        </li>
        <li>
            <a asp-controller="Tattoo" asp-action="Create">Upload Tattoo </a>
        </li>

    </ul>
    <ul class="list-unstyled components mr-3">
        <h5 class="ml-1"> Browse </h5>
        <li>
            <a asp-controller="Home" asp-action="Tattoos">Tattoos</a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="TopTattoos">Top Tattoos</a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="TopProfiles">Top Profiles</a>
        </li>
        <li>
            <a asp-controller="Style" asp-action="Listing">Styles</a>
        </li>

    </ul>
</nav>