@model TattooCreateInputModel
<div class="container p-3">
    <div class="row m-5 justify-content-center">
        <div class="col-sm-7 bg-white p-4" style="border-radius:10px">
            <form asp-controller="Tattoo" asp-action="Create" enctype="multipart/form-data" method="post" class="form-horizontal">
                <h4>Upload Tattoo</h4>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group" >
                    <img id="tattoo" class="img-fluid" style="border-radius:10px"/>
                </div>
                <div class="form-group">
                    <label asp-for="TattooPicture" class="control-label form-label"></label>
                    <input asp-for="TattooPicture" id='uploadTattoo' type='file'>
                </div>
                
                <div class="form-group">
                    <label asp-for="Description" class="control-label form-label"></label>
                    <textarea asp-for="Description" class="form-control form-input form-input-center"> </textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="styles" class="control-label form-label"> Styles</label>
                    <button id="styles"type="button" class="custom-select" data-toggle="dropdown"> Select Style</button>
                    <div class="dropdown-menu customClassForDropDown">
                        <partial name="_StylesCheckboxesPartial" model="Model.StylesCheckBoxes" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Album" class="control-label form-label"> Albums </label>
                    <select class="custom-select"  asp-for="Album" asp-items="Model.Albums"></select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default btn-brand btn-brand-big">&nbsp;Upload&nbsp;</button>
                </div>
            </form>
        </div>
       
    </div>
</div>
@section Scripts{
    <script>
        
        function readTattooPic() {

            if (this.files && this.files[0]) {

                var FR = new FileReader();

                FR.addEventListener("load", function (e) {
                    document.getElementById("tattoo").src = e.target.result;
                });

                FR.readAsDataURL(this.files[0]);
            }

        }
        document.getElementById("uploadTattoo").addEventListener("change", readTattooPic);
    </script>
}