@model TattooEditViewModel
@{

    foreach (var style in Model.CheckedStyles)
    {
        Model.StylesCheckBoxes.Find(x => x.Value == style.Id).Checked = true;
    }


}
<div class="container p-3">
    <div class="row m-5 justify-content-center">
        <div class="col-sm-7 bg-white p-4" style="border-radius:10px">
            <section>
                <form asp-controller="Tattoo" asp-action="Edit" enctype="multipart/form-data" method="post" class="form-horizontal">
                    <h4>Edit Tattoo</h4>
                    <div class="form-group">
                        <img id="tattoo" class="img-fluid" src="@Model.PictureUri" style="border-radius:10px" />
                        <input type="hidden" asp-for="@Model.PictureUri" />
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label form-label"></label>
                        <input asp-for="Description" class="form-control form-input form-input-center" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="styles" class="control-label form-label"> Styles</label>
                        <button id="styles" type="button" class="custom-select" data-toggle="dropdown"> Select Style</button>
                        <div class="dropdown-menu customClassForDropDown">
                            <partial name="_StylesCheckboxesPartial" model="Model.StylesCheckBoxes" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="albums" class="control-label form-label"> Album</label>
                        <select id="albums" class="custom-select" asp-for="Album" asp-items="Model.Albums"></select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default btn-brand btn-brand-big">&nbsp;Edit&nbsp;</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>