<nav id="navbar-example3" class="navbar navbar-light"  style="border-radius: 10px;">
    <nav class="nav container-fluid">
        <a class="btn btn-outline-secondary mb-2 btn-block" asp-action="Index">Not Checked</a>
        <a class="btn btn-outline-secondary mb-2 btn-block" asp-action="Checked"> Checked</a>
    </nav>
</nav>
